<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <%- include('./partials/css') %>
    <style>
        .loader {
            display: flex;
            justify-content: center;
            align-items: center;
            --color: hsl(0, 48%, 54%);
            --animation: 2s ease-in-out infinite;
          }
          .loader .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 20px;
            height: 20px;
            border: solid 2px var(--color);
            border-radius: 50%;
            margin: 0 10px;
            background-color: transparent;
            animation: circle-keys var(--animation);
          }
          .loader .circle .dot {
            position: absolute;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: var(--color);
            animation: dot-keys var(--animation);
          }
          .loader .circle .outline {
            position: absolute;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            animation: outline-keys var(--animation);
          }
          .circle:nth-child(2) {
            animation-delay: 0.3s;
          }
          .circle:nth-child(3) {
            animation-delay: 0.6s;
          }
          .circle:nth-child(4) {
            animation-delay: 0.9s;
          }
          .circle:nth-child(5) {
            animation-delay: 1.2s;
          }
          .circle:nth-child(2) .dot {
            animation-delay: 0.3s;
          }
          .circle:nth-child(3) .dot {
            animation-delay: 0.6s;
          }
          .circle:nth-child(4) .dot {
            animation-delay: 0.9s;
          }
          .circle:nth-child(5) .dot {
            animation-delay: 1.2s;
          }
          .circle:nth-child(1) .outline {
            animation-delay: 0.9s;
          }
          .circle:nth-child(2) .outline {
            animation-delay: 1.2s;
          }
          .circle:nth-child(3) .outline {
            animation-delay: 1.5s;
          }
          .circle:nth-child(4) .outline {
            animation-delay: 1.8s;
          }
          .circle:nth-child(5) .outline {
            animation-delay: 2.1s;
          }
          @keyframes circle-keys {
            0% {
              transform: scale(1);
              opacity: 1;
            }
          
            50% {
              transform: scale(1.5);
              opacity: 0.5;
            }
          
            100% {
              transform: scale(1);
              opacity: 1;
            }
          }
          @keyframes dot-keys {
            0% {
              transform: scale(1);
            }
          
            50% {
              transform: scale(0);
            }
          
            100% {
              transform: scale(1);
            }
          }
          @keyframes outline-keys {
            0% {
              transform: scale(0);
              outline: solid 20px var(--color);
              outline-offset: 0;
              opacity: 1;
            }
          
            100% {
              transform: scale(1);
              outline: solid 0 transparent;
              outline-offset: 20px;
              opacity: 0;
            }
          }
          
          .card {
            width: 300px;
            height: 220px;
            background-color: rgb(255, 255, 255);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 30px;
            gap: 13px;
            position: relative;
            overflow: hidden;
            box-shadow: 2px 2px 200px 200px rgba(0, 0, 0, 0.062);
          }
          #visibility{
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
    </style>
</head> 
<body>
    <div class="alert alert-danger text-center" role="alert">
        If your amount is &#x20B9;0/- then upload your profile picture.
      </div>
    <h1 class="text-center mt-3">Amount to be paid: &#x20B9;<%= locals.amount %>/-</h1>
    <div class="card" id="visibility">
        <div class="loader">
            <div class="circle">
              <div class="dot"></div>
              <div class="outline"></div>
            </div>
            <div class="circle">
              <div class="dot"></div>
              <div class="outline"></div>
            </div>
            <div class="circle">
              <div class="dot"></div>
              <div class="outline"></div>
            </div>
            <div class="circle">
              <div class="dot"></div>
              <div class="outline"></div>
            </div>
          </div>
    </div>
    <div class="container shadow-lg p-5 mt-4" style="max-width: 600px;">
        <form
        id="priceForm"
        action="/price-page/confirmation/<%= locals.leaderID %>"
        method="POST"
        enctype="multipart/form-data"
        >
        <div class="mb-3">
            <input
            type="text"
            class="form-control"
            id="disabledTextInput"
            name="leaderID"
            hidden
            value=<%= locals.leaderID%>
            />
            <div class="d-flex justify-content-center text-center">
                <div>
                    <h3>Scan To Pay:</h3>
                    <img src="../qr.jpg" class="" alt="Loading QR code..." style="width: 300px;"/>
                </div>
            </div>
            <br><br><br>
            <label for="photo" class="form-label">Upload Payment Screenshot</label>
            <input type="file" class="form-control" id="photo" name="photo" required/>
        </div>
        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>
</div>
<%- include('./partials/scripts') %>
<script type="text/javascript">
    document.getElementById("submit").addEventListener("click",(e => {
        document.getElementById("visibility").style.display = "flex";
    }))
</script>
</body>
</html>